# Auto detect text files and perform LF normalization
* text=auto
*.mp4 filter=lfs diff=lfs merge=lfs -text
upsc_thumbnail.mp4 !text !filter !merge !diff
cendrol_thumbnail.mp4 !text !filter !merge !diff
cendrol_video1.mp4 !text !filter !merge !diff
cendrol_video2.mp4 !text !filter !merge !diff
cendrol_video3.mp4 !text !filter !merge !diff
cendrol_video4.mp4 !text !filter !merge !diff
cendrol_video5.mp4 !text !filter !merge !diff
cendrol_video6.mp4 !text !filter !merge !diff
fluteboxers_promo.mp4 !text !filter !merge !diff
yooki_chapter1.mp4 !text !filter !merge !diff
yooki_chapter3.mp4 !text !filter !merge !diff
